# =========================================================
# 🌍 PROJECT CONFIG
# =========================================================
PROJECT_NAME = "workspace-event-driven-foundation"

ENVIRONMENT_NAME = "LOCALDEV"
LOG_LEVEL = "DEBUG"
DANGER_MODE = True
CORS_ALLOWED_ORIGINS = "*"

# =========================================================
# 🪣 STORAGE (MINIO)
# =========================================================
STORAGE_PROVIDER = "minio"
STORAGE_BUCKET = "workspace-template-v1"

MINIO_ENDPOINT = "minio:9000"
MINIO_ACCESS_KEY = "admin"
MINIO_SECRET_KEY = "password123"
MINIO_SECURE = False

# =========================================================
# 🐇 NATS (EVENT BUS)
# =========================================================

# 🔌 conexión única al broker
NATS_URL = "nats://nats:4222"

# 🧱 STREAM PRINCIPAL (contenedor de eventos)
# antes esto era "topics"
EVENTS_STREAM = "example_stream"

# 📡 SUBJECT DE EJEMPLO (evento dentro del stream)
# antes esto era EXAMPLE_TOPIC_ID
EXAMPLE_SUBJECT = "example.created"

EXAMPLE_CONSUMER="example-worker"

# =========================================================
# 🗄️ DATABASE
# =========================================================
DATABASE_URL = "postgresql+asyncpg://admin:password@db:5432/app_db"
DATABASE_SCHEMA = "workspace"
AUTO_CREATE_DB = True

# =========================================================
# ☁️ CLOUD (FUTURO / OPCIONAL)
# =========================================================
GCP_PROJECT_ID = "poc-gcp-workspace"
GOOGLE_CLOUD_PROJECT = "poc-gcp-workspace"

CLOUDSTORAGE_ID = ""

CLOUDSQL_ID = ""
CLOUDSQL_DB_NAME = ""
CLOUDSQL_DB_SCHEMA = ""
CLOUDSQL_DB_USER = ""
CLOUDSQL_DB_PASS = ""
CLOUDSQL_DB_HOST = ""
CLOUDSQL_DB_PORT = ""
CLOUDSQL_INSTANCE_CONNECTION_NAME = ""

# =========================================================
# 🔐 SECURITY
# =========================================================
JWT_SECRET_KEY = ""
JWT_ALGORITHM = ""
ACCESS_TOKEN_EXPIRE_MINUTES = 1440

# =========================================================
# 📦 EXTERNAL SERVICES
# =========================================================
AZURE_CLIENT_ID = ""
AZURE_JWKS_URL = ""
AZURE_JWKS_KEYS_URL = ""

EMAIL = ""
SMTP_PASSWORD = ""