# --- Project Name ---
PROJECT_NAME=workspace-gcp-poc-template

# --- Project Variables ---
ENVIRONMENT_NAME=LOCALDEV
LOG_LEVEL=DEBUG
DANGER_MODE=True
CORS_ALLOWED_ORIGINS=*

# =========================================================
# 🪣 STORAGE (MINIO)
# =========================================================
STORAGE_PROVIDER=minio
STORAGE_BUCKET=workspace-templave-v1

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123
MINIO_SECURE=false

# =========================================================
# 🐇 PUB/SUB
# =========================================================
PUBSUB_EMULATOR_HOST=pubsub-emulator:8085

EXAMPLE_TOPIC_ID=example-topic
EXAMPLE_SUBSCRIPTION_ID=example-sub

# =========================================================
# 🗄️ DATABASE LOCAL
# =========================================================
DATABASE_URL=postgresql+asyncpg://admin:password@db:5432/app_db
DATABASE_SCHEMA=workspace
AUTO_CREATE_DB=true

# --- GCP Variables ---
GCP_PROJECT_ID=poc-gcp-workspace
GOOGLE_CLOUD_PROJECT=poc-gcp-workspace
GCP_LOCATION=

# --- Cloud Storage ---
CLOUDSTORAGE_ID=

# --- Cloud SQL Variables ---
CLOUDSQL_ID=
CLOUDSQL_DB_NAME=
CLOUDSQL_DB_SCHEMA=
CLOUDSQL_DB_USER=
CLOUDSQL_DB_PASS=
CLOUDSQL_DB_HOST=
CLOUDSQL_DB_PORT=
CLOUDSQL_INSTANCE_CONNECTION_NAME=

# --- Security Variables ---
JWT_SECRET_KEY=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=1440

###############################
# --- External API Services ---
###############################

# --- Azure Client Credentials ---
AZURE_CLIENT_ID=
AZURE_JWKS_URL=
AZURE_JWKS_KEYS_URL=
 
# --- Email ---
EMAIL=
SMTP_PASSWORD=